{% extends 'partners/base.html' %}
        {% block content %}

        <header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(images/img_bg_1.jpg);">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                </div>
                </div>
            </div>
        </header>    
        <div class="fh5co-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 animate-box">
                        <h3>Nuevo socio</h3>

                        <form method="POST">{% csrf_token %} 
                            {% for input in form %}
                            <div class="row form-group">
                                <div class="col-md-12">
                                     {{ input }}  
                                     {{ input.errors }}
                                </div>
                            </div>
                            {% endfor %}
                            

                            <div class="form-group">
                                <input type="submit" value="Sí, quiero" class="btn btn-primary">
                            </div>

                        </form>     
                    </div>
                    <div class="col-md-5 col-md-push-1 animate-box">
                        
                        <div class="fh5co-contact-info">
                            <h3>Contact Information</h3>
                            <ul>
                                <li class="address">198 West 21th Street, <br> Suite 721 New York NY 10016</li>
                                <li class="phone"><a href="tel://1234567920">+ 1235 2355 98</a></li>
                                <li class="email"><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
                                <li class="url"><a href="http://FreeHTML5.co">FreeHTML5.co</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
        {% endblock content %}
